:root {
  --color-primary-blue: #2b7fff;
  --color-primary-light: #ffffff;
  --color-primary-dark: #011c44;
  --color-secondary: #4a4a4a;
  --color-secondary-light: #747272;
  --color-secondary-dark: #011f4a;
  --color-secondary-yellow: #ffd02b;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;