.about-us-section {
  padding: 48px 0 0;

  &__container {
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 48px;
    max-width: 710px;
  }

  &__title {
    padding-top: 40px;
    margin-bottom: 0px;
    font-family: 'Play', sans-serif;
    font-weight: 700;
    font-size: 64px;
    text-align: left;
  }

  &__text {
    margin-bottom: 0px;
    line-height: 1.7;
  }

  &__image {
    display: grid;
    grid-template-columns: 170px 100px 100px 130px;
    grid-template-rows: 328px 328px;
    gap: 40px 0px;

    &--a {
      grid-column-start: 1;
      grid-row-start: 1;
      border-radius: 163px;
    }

    &--b {
      grid-column-start: 2;
      grid-row-start: 2;
      border-radius: 163px;
    }
  }
}