.about-us-section {

  &__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;

    @media screen and (min-width: $bp-tablet) {
      position: relative;
      display: flex;
      justify-content: space-between;
    }
  }

  &__content {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;

    @media screen and (min-width: $bp-tablet) {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      gap: 40px;
      padding: 0 30px;
    }
  }

  &__title {
    margin-bottom: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 32px;
    text-align: left;
    width: 264px;

    @media screen and (min-width: $bp-tablet) {
      padding-top: 40px;
      margin-bottom: 0px;
      font-family: 'Play', sans-serif;
      font-weight: 700;
      font-size: 64px;
      text-align: left;
      width: auto;
    }
  }

  &__text {
    font-size: 18px;
    margin-bottom: 0px;
    line-height: 1.7;

    @media screen and (min-width: $bp-tablet) {
      font-size: 22px;
      margin-bottom: 0px;
      line-height: 1.7;
    }
  }

  &__image {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: grid;
      grid-template-columns: 170px 100px 100px 130px;
      grid-template-rows: 328px 328px;
      gap: 40px 0px;
    }

    &--a {
      grid-column-start: 1;
      grid-row-start: 1;
      border-radius: 163px;
    }

    &--b {
      grid-column-start: 2;
      grid-row-start: 2;
      border-radius: 163px;
    }
  }
}