.contacts-section {
  padding: 48px 0 96px;

  &__container {
    display: flex;
    gap: 32px;
    justify-content: center;
  }

  &__map {
    width: 100%;
    max-width: 605px;
    height: 481px;
    border: none;
    border-radius: 32px;
  }

  &__form {
    padding: 48px 56px;
    color: var(--color-primary-light);
    background-color: var(--color-primary-dark);
    border-radius: 32px;
    width: 100%;
    max-width: 420px;
    height: 481px;
  }

  &__form-title {
    margin-bottom: 32px;
    font-weight: 600;
    font-size: 22px;
    width: 280px;
    text-align: center;
  }

  &__form-field {
    margin-bottom: 16px;
  }

  &__form-button {
    display: block;
    margin: 0 auto 8px;
  }
}