.contacts-section {
  padding: 20px 0 0;

  @media screen and (min-width: $bp-tablet) {
    padding: 48px 0 96px;
  }


  &__container {
    display: flex;
    flex-direction: column-reverse;
    gap: 24px;
    justify-content: center;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      gap: 32px;
    }
  }

  &__map {
    height: 232px;
    margin: 0 -24px;
    border: none;

    @media screen and (min-width: $bp-tablet) {
      width: 100%;
      max-width: 605px;
      margin: 0;
      height: 481px;
      border: none;
      border-radius: 32px;
    }
  }

  &__form {
    padding: 42px 24px;
    background-image: url('../images/background-form.png');
    color: var(--color-primary-light);
    background-color: var(--color-primary-dark);
    border-radius: 32px;
    width: 100%;
    max-width: 420px;
    height: 100%;
    margin: 0 auto;

    @media screen and (min-device-pixel-retio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: url('../images/background-form@2x.png');
    }

    @media screen and (min-width: $bp-tablet) {
      padding: 48px 56px;
      margin: 0;
    }
  }

  &__form-title {
    padding-bottom: 32px;
    margin: 0 auto;
    font-weight: 600;
    font-size: 22px;
    width: 280px;
    text-align: center;
  }

  &__form-field {
    margin-bottom: 16px;
  }

  &__form-button {
    display: block;
    margin: 0 auto 8px;
  }
}