.footer-section {
  padding: 56px 0px;
  height: 278px;
  color: var(--color-primary-light);
  background-image: url('../images/background-footer.png');
  background-color: var(--color-primary-dark);
  font-size: 16px;
}

.footer-container::after {
  position: absolute;
  top: 67px;
  right: 5px;
  width: 250px;
  height: 155px;
  content: '';
  background-image: url('../images/vials.png');
}

.footer-container {
  position: relative;
  display: flex;
  gap: 20px;
}

.footer-nav,
.footer-address {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}

.footer-logo,
.footer-link-list,
.footer-link-contact,
.footer-link-policy {
  flex-grow: 1;
}

.footer-social {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 24px;
}

.footer-links {
  margin-bottom: 16px;
}

.footer-link {
  color: var(--color-primary-light);
  text-decoration: none;
  transition: color 0.2s;
}

.footer-link:hover {
  color: var(--color-primary-blue);
}

.address-icon-footer {
  fill: var(--color-primary-light);
  transition: fill 0.2s;
}

.address-icon-footer:hover {
  fill: var(--color-primary-blue);
}

.address-copyright {
  color: var(--color-secondary);
  font-size: 13px;
}
