.footer {
  padding: 56px 0px;
  height: 278px;
  color: var(--color-primary-light);
  background-image: url('../images/background-footer.png');
  background-color: var(--color-primary-dark);

  &__container {
    position: relative;
    display: flex;
    gap: 20px;

    &::after {
      position: absolute;
      top: 67px;
      right: 5px;
      width: 250px;
      height: 155px;
      content: '';
      background-image: url('../images/vials.png');
    }
  }

  &__nav,
  &__address {
    display: flex;
    flex-basis: 50%;
    gap: 20px;
  }

  &__logo,
  &__menu,
  &__contact,
  &__terms {
    flex-grow: 1;
  }

  &__social {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 24px;
  }

  &__icon {
    fill: var(--color-primary-light);
    transition: fill 0.2s;

    &:hover {
      fill: var(--color-primary-blue);
    }
  }

  &__copyright {
    color: var(--color-secondary);
    font-size: 13px;
  }
}