.form-field {
  margin-bottom: 24px;
}

.form-field-contact {
  margin-bottom: 16px;
}

.form-input {
  padding: 18px 33px;
  width: 100%;
  font-size: 13px;
  color: var(--color-primary-light);
  border: 2px solid var(--color-secondary-light);
  border-radius: 32px;
  background-color: transparent;
  outline: none;
  transition: background-color 0.2s;
}

.form-input:focus {
  background-color: var(--color-secondary-light);
  outline: none;
}

.form-input::placeholder {
  color: var(--color-primary-light);
}

.form-button {
  display: block;
  margin: 0 auto 8px;
}
