header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backdrop-filter: blur(10px);
}

.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
  height: 106px;
}

.header-nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
  gap: 40px;
}

.header-menu {
  display: flex;
  gap: 56px;
  flex-grow: 1;
  justify-content: center;
}

.header-social {
  display: flex;
  gap: 32px;
}

.address-icon {
  fill: var(--color-primary-dark);
  transition: fill 0.2s;
}

.address-icon:hover {
  fill: var(--color-primary-blue);
}
