.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backdrop-filter: blur(10px);

  &__container {
    display: flex;
    align-items: center;
    gap: 40px;
    height: 106px;
  }

  &__nav {
    display: flex;
    flex-grow: 1;
    align-items: center;
    gap: 40px;
  }

  &__menu {
    display: flex;
    gap: 56px;
    flex-grow: 1;
    justify-content: center;
  }

  &__social {
    display: flex;
    gap: 32px;
  }

  &__icon {
    fill: var(--color-primary-dark);
    transition: fill 0.2s;

    &:hover {
      fill: var(--color-primary-blue);
    }
  }
}