.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-primary-light);
    transform: translateX(100%);
    transition: transform 0.2s;

    &.is-open {
        transform: translateX(0);
    }

    &__btn-close {
        width: 12px;
        height: 12px;
        position: absolute;
        top: 16px;
        right: 20px;
        background: transparent;
        border: none;
        cursor: pointer;

        &::before,
        &::after {
            content: '';
            position: absolute;
            width: 20px;
            height: 2px;
            background-color: var(--color-primary-dark);
        }

        &::before {
            transform: translate(-50%, -50%) rotate(45deg);
        }

        &::after {
            transform: translate(-50%, -50%) rotate(-45deg);
        }
    }

    &__container {
        padding: 16px 0 0 20px;
    }

    &__logo {
        padding-bottom: 32px;
    }

    &__list {
        margin-bottom: 16px;
    }

    &__link {
        margin-bottom: 16px;
        font-size: 14px;
        color: var(--color-primary-dark);
        font-family: 'Roboto', sans-serif;
        text-decoration: none;
        transition: color 0.2s;

        &:hover {
            color: var(--color-primary-blue);
        }
    }

    &__social {
        display: flex;
        gap: 16px;
    }

    &__icon {
        fill: var(--color-primary-dark);
        transition: fill 0.2s;

        &:hover {
            fill: var(--color-primary-blue);
        }
    }
}