.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 20px 0px;
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: rgba(1, 31, 74, 0.4%);
  transition: opacity 0.2s, visibility 0.2s;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.modal {
  position: relative;
  width: 100%;
  max-width: 723px;
  height: 100%;
  max-height: 681px;
  padding: 42px 144px;
  color: var(--color-primary-light);
  background-color: var(--color-primary-dark);
  border-radius: 48px;
  overflow-y: auto;

  &__title {
    font-family: 'Play', sans-serif;
    font-weight: 700;
    font-size: 64px;
    text-align: center;
    margin-bottom: 40px;
  }

  &__form-title {
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    margin: 0 auto 32px;

  }

  &__form-field {
    margin-bottom: 24px;
  }

  &__btn-close {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 42px;
    right: 42px;
    border: none;
    background-color: transparent;
    cursor: pointer;

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 20px;
      height: 2px;
      background-color: var(--color-primary-light);
    }

    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  &__form-button {
    margin: 0 auto 8px;
  }
}