.procedures-section {

  &__container {
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: center;
  }

  &__list {
    display: flex;
    gap: 16px;
  }

  &__item {
    flex-basis: calc((100% - 32px) / 3);
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.05);
    }
  }
}