.accent {
  color: var(--color-primary-blue);
}

.accent-brand {
  color: var(--color-primary-blue);
  text-transform: capitalize;
}

.accent-dark {
  font-weight: 700;
  text-transform: capitalize;
}
