.button {
  padding: 16px 32px;
  color: var(--color-primary-light);
  background: var(--color-primary-blue);
  border: 2px solid var(--color-primary-blue);
  border-radius: 32px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 18px;
  transition: color 0.2s, background-color 0.2s;

  &:hover {
    color: var(--color-primary-dark);
    background-color: var(--color-primary-light);
  }
}