.procedure-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    height: 456px;
    border-radius: 4px 120px;

    &--masks {
        background-repeat: no-repeat;
        background-size: cover;
        background-image: linear-gradient(180deg,
                rgba(1, 28, 68, 0) 47.4%,
                rgba(1, 28, 68, 0.73) 82.66%,
                var(--color-primary-dark) 99.06%),
            url('../images/face-masks.jpg');

        @media screen and (min-device-pixel-retio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(180deg,
                    rgba(1, 28, 68, 0) 47.4%,
                    rgba(1, 28, 68, 0.73) 82.66%,
                    var(--color-primary-dark) 99.06%),
                url('../images/face-masks@2x.jpg');
        }
    }

    &--injection {
        background-repeat: no-repeat;
        background-size: cover;
        background-image: linear-gradient(180deg,
                rgba(1, 28, 68, 0) 47.4%,
                rgba(1, 28, 68, 0.73) 82.66%,
                var(--color-primary-dark) 99.06%),
            url('../images/facial-injections.jpg');

        @media screen and (min-device-pixel-retio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(180deg,
                    rgba(1, 28, 68, 0) 47.4%,
                    rgba(1, 28, 68, 0.73) 82.66%,
                    var(--color-primary-dark) 99.06%),
                url('../images/facial-injections@2x.jpg');
        }
    }

    &--cleansing {
        background-repeat: no-repeat;
        background-size: cover;
        background-image: linear-gradient(180deg,
                rgba(1, 28, 68, 0) 47.4%,
                rgba(1, 28, 68, 0.73) 82.66%,
                var(--color-primary-dark) 99.06%),
            url('../images/facial-cleansing.jpg');

        @media screen and (min-device-pixel-retio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(180deg,
                    rgba(1, 28, 68, 0) 47.4%,
                    rgba(1, 28, 68, 0.73) 82.66%,
                    var(--color-primary-dark) 99.06%),
                url('../images/facial-cleansing@2x.jpg');
        }
    }

    &__title {
        position: absolute;
        top: 372px;
        margin: 0;
        width: 152px;
        font-weight: 400;
        font-size: 20px;
        color: var(--color-primary-light);
        line-height: 1.18;
        text-align: center;

        @media screen and (min-width: $bp-tablet) {
            font-size: 22px;
        }
    }
}