.procedures {
  display: flex;
  gap: 32px;
  align-items: center;
  color: var(--color-primary-light);
  line-height: 1.18;
  text-align: center;
}

.procedure-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.procedures-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 16px;
  max-width: 1060px;
}

.procedures-item {
  flex-basis: calc((100% - 32px) / 3);
  height: 456px;
  border-radius: 4px 120px;
  transition: transform 0.2s;
}

.procedures-item:hover {
  transform: scale(1.05);
}

.procedures-item.masks {
  background-image: url('../images/face-masks.jpg');
}

.procedures-item.injection {
  background-image: url('../images/facial-injections.jpg');
}

.procedures-item.cleansing {
  background-image: url('../images/facial-cleansing.jpg');
}

.procedures-card {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-basis: calc((100% - 32px) / 3);
  height: 456px;
  width: 344px;
  border-radius: 4px 120px;
  background-image: linear-gradient(
    180deg,
    rgba(1, 28, 68, 0) 48.529%,
    rgba(1, 28, 68, 0.73) 84.641%,
    rgb(1, 28, 68) 101.43%
  );
}

.procedures-title {
  width: 152px;
}
