.section {
  padding: 20px 0px;

  @media screen and (min-width: $bp-tablet) {
    padding: 48px 0px;
  }

  &__title {
    margin-bottom: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 32px;
    text-align: center;

    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 48px;
      font-family: 'Play', sans-serif;
      font-weight: 700;
      font-size: 64px;
      text-align: center;
    }
  }

}