.carusel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  padding: 0;
  background-color: var(--color-primary-light);
  border-radius: 50%;
  border: 1px solid var(--color-primary-dark);
  cursor: pointer;
  transition: background-color 0.2s, fill 0.2s, border 0.2s;
}

.carusel-button.next {
  transform: rotate(180deg);
}

.carusel-button:hover {
  background-color: var(--color-primary-blue);
  fill: var(--color-primary-light);
  border: 1px solid var(--color-primary-light);
}
