.link {
  color: var(--color-primary-dark);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
  transition: color 0.2s;

  &:hover {
    color: var(--color-primary-blue);
  }
}

.footer-link {
  color: var(--color-primary-light);
  font-size: 14px;
  text-decoration: none;
  transition: color 0.2s;

  @media screen and (min-width: $bp-tablet) {
    font-size: 16px;
  }

  &:hover {
    color: var(--color-primary-blue);
  }
}