*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--color-secondary-dark);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 22px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
address {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

a {
  display: inline-block;
}
