*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--color-secondary-dark);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 22px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
address {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

a {
  display: inline-block;
}

.section {
  padding: 48px 0px;
}

.container {
  width: 100%;
  max-width: 1290px;
  margin: 0 auto;
  padding: 0px 24px;
}

.section-title {
  margin-bottom: 48px;
  font-family: 'Play', sans-serif;
  font-weight: 700;
  font-size: 64px;
  text-align: center;
}

.accent {
  color: var(--color-primary-blue);
}

.accent-brand {
  color: var(--color-primary-blue);
  text-transform: capitalize;
}

.accent-dark {
  font-weight: 700;
  text-transform: capitalize;
}
